@import url('../../../scss/vars.scss');

.button-add-cart {
	position: absolute;
	z-index: 1;
	bottom: 0;

	display: inline-flex;
	visibility: hidden;
	overflow: hidden;
	align-items: center;
	justify-content: center;

	width: 100%;
	min-width: 150px;
	height: 46px;

	cursor: pointer;
	transition: all 0.3s;
	transform: translateY(-20px);
	text-decoration: none;
	text-transform: uppercase;

	opacity: 0;
	color: $hover;
	border-radius: 100px;
	background-color: #7DE790;
	box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0, rgb(27 31 35 / 15%) 0 0 0 1px;

	font-size: 16px;

	&__text {
		padding-top: 4px;
	}

	@extend %helvetica-400;
}

.button-add-cart:hover,
.button-add-cart:active,
.button-add-cart:focus {
	color: #FFF;
}

.button-add-cart::before {
	position: absolute;
	z-index: -1;
	inset: 0 -50px 0 0;

	content: '';
	transition: transform 0.5s;
	transform: translateX(-100%);

	border-top: 50px solid #FFA9A9;
	border-right: 50px solid transparent;
}

.button-add-cart:hover::before,
.button-add-cart:active::before,
.button-add-cart:focus::before {
	transform: translateX(0);
}

.abutton-add-cart:active {
	transition: color 0.3s, background-color 0.3s;

	box-shadow: rgb(204 219 232) 3px 3px 6px 0 inset, rgb(255 255 255 / 50%) -3px -3px 6px 1px inset;
}