
.list-popup {
  &__item {
  min-width: 409px;
  max-width: 409px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  transition: color 0.3s;
 
  }

  &__inner-title {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &:hover {
    color: $hover;
  }
  }

  &__text-title {
    font-size: 24px;
    font-weight: bold;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
  }

  &__subtext-list {
    margin-bottom: 40px!important;
    padding-left: 20px;
    text-align: left;
  }

  &__subtext-subtitle {
    margin-left: -20px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  &__subtext-content {
    margin-bottom: 10px;
    list-style-type: disc;
  }

  &__desc-lnk {
    display: none;
  }

  &__inner-lnk {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 440px) {

  .popup-inner {
    top: 0;
    padding: 50px 15px 35px;
    border-radius: 0;
  }

  .popup-text {
    width: 100%;
  }

  .list-popup {
    &__item {
      width: 100%;
      min-width: none;
      margin-bottom: 15px;
    }

  &__text-title{
    font-size: 18px;
  }

}
.popup-title {
  font-size: 18px!important;
}

.popup-text {
  font-size: 14px;
  margin-bottom: 0;
}

.list-popup__subtext-list:last-child {
  margin-bottom: 0!important;
}
}