@font-face {
	font-family: icomoon;
	src:  url('fonts/icomoon.eot?oamq00');
	src:  url('fonts/icomoon.eot?oamq00#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?oamq00') format('truetype'),
		url('fonts/icomoon.woff?oamq00') format('woff'),
		url('fonts/icomoon.svg?oamq00#icomoon') format('svg');

	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
	text-transform: none;

	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: icomoon !important;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	speak: never;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrowleft::before {
	content: "\e900";

	color: #FFF;
}

.icon-arrowright::before {
	content: "\e901";

	color: #FFF;
}

.icon-check::before {
	content: "\e311";
}

.icon-arright::before {
	content: "\e310";

	color: #FFF;
}

.icon-ardown::before {
	content: "\e300";
}

.icon-arleft::before {
	content: "\e301";

	color: #FFF;
}

.icon-location::before {
	content: "\e302";

	color: #CDBAAA;
}

.icon-user::before {
	content: "\e303";

	color: #CDBAAA;
}

.icon-phone::before {
	content: "\e304";

	color: #CDBAAA;
}

.icon-phonenew::before {
	content: "\e305";

	color: #CDBAAA;
}

.icon-mail::before {
	content: "\e306";

	color: #CDBAAA;
}

.icon-instagram::before {
	content: "\e307";

	color: #FFF;
}

.icon-facebook::before {
	content: "\e308";

	color: #FFF;
}

.icon-calendar::before {
	content: "\e309";
}
