@import '../../../scss/vars.scss';
@import '../../../scss/mixins.scss';

.about-products {
  position: relative;
  margin-bottom: 150px;

  &::before {
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    color: rgba(205, 186, 170, 0.5);
  }

  &__btn {
    .contacts-btn {
      display: inline-flex
    }

    &.ground {
      @include _767 {
        display: none;
      }
    }
  }

  .about-products__btn-mobile {
    display: none;
  }

  .catalog-btn,
  .about-products__btn-mobile {
    @include _767 {
      width: 100%;
      display: inline-flex;
      margin-top: 20px;
      margin-right: 0!important;
      .atuin-btn {
        width: 100%!important;
      }
    }
  }

  .single-doses {
    @include _767 {
      display: flex;
      flex-direction: column;
    }
  }

  &__desc {
    width: fit-content;
    margin-left: -20px;
    margin-bottom: 20px;
    padding: 5px 10px;
    display: flex;
    align-items: baseline;
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
    color: #CDBAAA;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin-left: 0;
      display: flex;
      justify-content: center;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    text-align: left;
  }

  &__row {
    width: 100%;
    
    @include _1024 {
      position: relative;
    }

    &.center {
      margin-bottom: 40px;
      @include _1200 {
        flex-direction: column;
        margin-bottom: 0;
      }
    }
  }

  &__label,
  &__label--svg {
    position: absolute;
    display: none;

    @include _1024 {
      right: 20px;
      display: inline-flex;
    }
  }

  &__label--svg {
    @include _1024 {
      top: -5px;
    }
  }

  &__label {
    @include _1024 {
      top: -3px;
    }
  }
}

.about-row {
  width: 100%;
  color: $default;
  background-color: #fff;
  border: 0.5px solid $hover;
  border-radius: 15px;
  @extend %libreBaskervilleItalic-400;

  &__label {
    display: none;

    @include _1024 {
      position: absolute;
      width: 40px;
      height: 60px;
      top: 100px;
      right: 30px;
      background-color: brown;
      display: inline-flex;

    }
  }

  &__block-beans {
    .about-row__text {
      padding-bottom: 20px;

      @include _1024 {
        padding: 0;

        &.mobile {
          visibility: hidden;
          height: 0;
        }
      }
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  &__text {
    font-size: 16px;

    @include _1024 {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      padding: 0;
    }
  }

  &__column-left {
    height: auto;
    min-height: 100%;
    width: calc(90% - 20px);
    margin-right: 20px;

    @include _1200 {
      width: 100%;
    }

    @include _767 {
      margin-right: 0;
      margin-bottom: 0;
      .contacts-btn {
        width: 100%;
        display: inline-flex;
        margin-right: 0!important;

        .atuin-btn {
          width: 100%!important;
        }
      }
    }
  }

  &__headline {
    @include _767 {
      .about-products__btn {
        display: none;
      }
    }
  }

  &__column-right {
    height: auto;
    width: 100%;
    margin-right: 0;
  }

  &__inner {
    align-items: baseline;
    justify-content: space-between;
  }

  &__img {
    border-radius: 10px;
    width: 32%;
    float: right;

    @include _1200 {
      display: none;
    }
  }

  &__img-moka {
    border-radius: 10px;
    width: 35%;
    object-fit: cover;
    float: right;

    @include _1200 {
      display: none;
    }
  }

  &__img--big {
    max-height: 250px;
    width: 20%;
    margin-right: 0;
    border-radius: 10px;

    @include _1200 {
      display: none;
    }
  }

  &__img-green {
    width: 20%;
  }

  &__column {
    position: relative;
    padding: 20px;
  }

  &__column-inner {
    width: calc(50%);

    @include _1200 {
      width: 100%;
    }
  }
}

.column-right {
  height: 100%;

  @include _1200 {
    margin-bottom: 40px;
  }

  &__img {
    max-height: 250px;
    object-fit: cover;
    margin: 0 auto;
    width: 55%;
    border-radius: 10px;
    float: bottom;

    @include _1200 {
      display: none;
    }
  }
}