
@import '../../../scss/vars.scss';

.about-products {
    position: relative;
    padding-top: 30px;
    margin-bottom: 50px;

    &::before {
        content: '';
        top: 0;
        left: 0;
        height: 100%;
        width: 1px;
        color: rgba(205, 186, 170, 0.5);
    }

    &__desc {
      align-items: baseline;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__content-block {
      width: 100%;
      padding: 70px 0;
    }

    &__subtitle {
      text-align: left;
    }

    &__row {
      width: 100%;
    }

    // &__link {
    //   margin: 0 auto;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   margin-top: 20px;
    //   width:100%;
    //   background-color: $disable;
    //   margin-bottom: -20px;
    //   border-top: 0.5px solid $hover;
    //   border-left: 0.5px solid $hover;
    //   border-right: 0.5px solid $hover;
    //   border-radius: 15px 15px 0 0;
    //   padding: 0;
    //   height: 0;
    //   visibility: hidden;
    // }

    // &__btn {
    //   width: 100%;
    //   display: flex;
    //   justify-content: center;
    //   margin: 0 auto;
    //   transform: translateY(20px);
    //   visibility: hidden;
    // }
}

.about-row {
  width: 100%;
  color: $default;
  background-color: rgba(255,255,255, 55%);
  border: 0.5px solid $hover;
  border-radius: 15px;
  @extend%libreBaskervilleItalic-400;

  &__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  &__text {
    font-size: 16px;
  }

  &__column-left {
    height: 100%;
    width: calc(60% - 20px);
  }
  &__column-right {
    height: 100%;
    width: calc(40%);
    margin-top: -20px;
    margin-right: -20px;
  }

  &__inner {
    align-items: baseline;
    justify-content: space-between;
  }

  &__img {
    border-radius: 15px;
    width: 30%;
    // width:40vw;
    // background-size:cover;
    float:right;
    // shape-outside: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
    // shape-margin:20px;
    // -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
    //         clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%)
  }

  &__column {
    padding: 20px;

    &:hover {
      // .about-products__btn {
      //   visibility: visible;
      //   transform: translateY(10px);
      //   transition: visibility 0.3s, transform 0.3s;
      // }
    }
  }


  &__column-inner {
    width: calc(50%);
  }
}

@media screen and (max-width: 1024px) {
  .about-products {
    .line {
      display: none;
    }

    &__text {
      margin-bottom: 50px;
      font-size: 24px;
    }

    &__meta-text {
      font-size: 14px;
    }

    &__content {
      & a:last-child {
        margin-right: 35px;
      }
    }

    &__content-block {
      padding-top: 20px;
    }

    &__link {
      width: 157px;
      height: 157px;
      margin-right: 20px;

      &:hover{
        box-shadow: none;
      }
    }

    &__card-desc {
      font-size: 18px;
    }
  }
}