.products-card__text {
  display: none;
}

.products-card {
  &__item {
    min-width: 250px;
    margin-bottom: 20px;
    color: #131938;
    background-color: #fff;
    padding: 14px;
    background-color: #fff;
    border: 1px solid #8E0303;
    border-radius: 25px 25px 25px 0px;
    transition: box-shadow 0.3s, background-color 0.3s;

    &:hover {
      background-color: rgb(255, 249, 249);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      transition: box-shadow 0.3s, background-color 0.3s;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 0;
    border-radius: 25px 25px 0px 0px;
  }

  &__title {
    margin-top: 12px;
    font-style: italic;
    text-transform: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
  }

  &__weight {
    position: absolute;
    top: 12px;
    right: 12px;
  }

  &__price {
    font-weight: 400;
    font-size: 38px;
  }
}

@media screen and (max-width: 1024px) {
  .top-products {
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 767px) {
  .top-products {
    padding-bottom: 0;

    &__description {
      margin-bottom: 10px;
    }
  }
}