@import '../../../scss/vars.scss';

.package {
    position: relative;
    padding-top: 30px;

    &::before {
        content: '';
        top: 0;
        left: 0;
        height: 100%;
        width: 1px;
        color: rgba(205, 186, 170, 0.5);
    }
  }