.top-products__text {
  display: none;
}

.top-products {
  &__item {
    &:hover {
      .top-products__cart  {
        transition: all 0.3s;
      }
    }
  }

  &__title {
    margin-bottom: 10px;
  }

  &__desc {
    width: 100%;
    max-width: 230px;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__price-opt {
    display: flex;
  }

  &__price-name {
    font-size: 20px;
  }

  &__code {
    font-size: 12px;
    color: #8E0303
  }

  &__cart {
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid #fff;
    box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px, rgb(27 31 35 / 15%) 0px 0px 0px 1px;
    transition: all 0.3s;

    &:hover {
      background-color: rgb(247, 238, 238);
      border: 1px solid #8E0303;
      transition: background-color 0.3s border 0.3s;
    }
  }
}