.popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 0;
    overflow-y: auto;

    &.active {
      display: block;

      .popup-title {
        margin-bottom: 40px;
      }

      .employes {
        &__item {
          position: relative;
          width: 100%;
          max-width: 100%;
          max-height: 100%;
          margin-right: 0;
          padding: 0 30px;
          opacity: 1;
      }

      &__title {
        top: 5%;
        left: 43%;
        position: absolute;
        width: 100%;
        text-align: left;
        .subtitle {
          max-width: 100%;
          text-transform: uppercase;
          text-align: left;
        }
      }

      &__description {    
        display: flex;
        flex-direction: row;
        white-space: nowrap;
      }

      &__content {
        width: 100%;
        max-width: 100%;
        margin-bottom: 50px;
        justify-content: space-between;
        flex-direction: row-reverse;
      }

      &__column {
        padding-top: 140px;
        width: calc(60% - 40px);

        &--popup {
          padding-top: 0;
          width: calc(40% - 40px);
        }
      }

      &__text {
        display: inline-block;
        max-width: 630px;
        margin: 0 auto;
        padding-bottom: 50px;
      }

      &__description:first-child {
        margin-bottom: 50px;
      }

      &__practice {
        max-width: 190px;
        white-space: initial;
        text-align: initial;
      }
    }

      .button-trans {
        display: none;
      }

      .closed-btn {
        z-index: 100;
      }

      @media screen and (max-width: 900px) {
        .popup-inner {
          top: 0;
          border-radius: 0;
        }
        .employes{
          &__title{
            font-size: 28px;
            font-weight: 900;
            position: relative;
            justify-content: center;
            left: 0;
            right: 0;
            align-items: center;

            .subtitle {
              font-size: 28px;
              font-weight: 900;
            }
          }

          &__column {
            padding-top: 40px;
          }

          &__column--popup {
            width: 100%;
            display: flex;
            justify-content: center;
            
          }

          &__content {
            margin-bottom: 20px;
            flex-direction: column-reverse!important;
          }

          &__description--three {

            margin-bottom: 0;
            padding-top: 10px;
          }

        }
      }

      @media screen and (max-width: 767px) {
        .popup-inner {
          padding: 15px;
        }

        .popup-title {
        margin-bottom: 20px;
      }

        .employes{
          &__title{
            font-size: 18px;
            border-bottom: none;

            .subtitle {
             font-size: 18px;
            }
          }

          &__img {
              display: inline-block;
          }

          &__img-mobile {
            display: none;
          }

          &__column {
            padding-top: 0;
            padding-bottom: 20px;
          }

          &__text {
            padding-bottom: 20px;
          }

          &__description {
            flex-wrap: nowrap;
          }

          &__description--meta {
            width: 100%;
            max-width: 100%;
            display: flex;
            justify-content: center;
            text-align: center;
            font-weight: 700;
          }

          &__description:first-child {
            margin-bottom: 20px;
          }

          &__content {
            margin-bottom: 0;
          }

          .consultation__btn {
            width: 100%;
            min-width: 100%!important;
            max-width: 100%!important;
          }

        }
      }

      @media screen and (max-width: 480px) {
       
        .popup-inner {
        }

        .popup-text {
          padding-bottom: 20px;
        }

        .employes{
          &__title{
           

            .subtitle {
             
            }
          }

          &__img {
         
          }

          &__column {
            width: 100%;
          }

          &__text {
            font-size: 14px;
          }

          &__description {
    
          }

          &__description--meta {
            white-space: initial;
            display: inline-grid;
            text-align: initial;
            justify-content: flex-start;
            font-size: 14px;
          }
        }
      }
    }




    &-title {
    background-image: linear-gradient(90deg, #1EAEFF , #00F0FF);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    text-transform: uppercase;
  
  }

  &-text {
    font-size: 24px;
    margin-bottom: 70px;
  }

  &-inner {
    position: absolute;
    min-height: 50%;
    max-width: 1070px;
    top:25%;
    left: 0;
    right: 0;
    margin: 0 auto 25% auto;
    padding: 50px 80px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
    border-radius: 33px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .closed-btn {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    
      &__line {
        margin-right: 0;
      }
    }
  }
}
