.background {
  width: 100%;
  background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url(../assets/img/home/subs.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.background-two {
  width: 100%;
  background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url(../assets/img/home/subs-2.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.background-mc {
  padding-bottom: 100px;
  background-color: #fff;
}
.background-footer {
  padding-bottom: 100px;
  background-color: #BFC1BF;
  margin-bottom: -225px;
}

.home {
  &__baner {
    width: 100%;
    object-fit: cover;
  }
}