/* ARROWS */
@import url('../../../../scss/mixins.scss');

.arrows {
	position: absolute;
	z-index: 1;
	top: 45%;

	display: flex;
	justify-content: space-between;

	width: 100%;
	padding: 5px;

	color: white;

	font-size: 30px;

	& .arrow {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 46px;
		height: 46px;
		padding: 5px;

		cursor: pointer;
		transition: background-color 0.3s;

		border-radius: 50%;
		background-color: transparent;
		box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0, rgb(27 31 35 / 15%) 0 0 0 1px;

		&:hover {
			transition: background-color 0.3s;

			background-color: darken($color: #F2E9E9, $amount: 10%);
		}

		&:active {
			background-color: darken($color: #F2E9E9, $amount: 30%);
		}

	}

	.left {
		width: 30px;
		height: 30px;
		margin-right: 5px;

		transform: rotate(-180deg);

		background-image: url("../../../../assets/icons/rigthArrow.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	.right {
		width: 30px;
		height: 30px;
		margin-left: 5px;

		background-image: url("../../../../assets/icons/rigthArrow.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	@include _767 {
		display: none;
	}
}