.list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    color: #342314;
    white-space: nowrap;
}

.link {
    color: #342314;
    text-decoration: underline;
}

.item {
    position: relative;
    display: flex;

    &-accent {
      display: inline;
      color: #888c91;
    }

    &::before {
      content: "/";
      color: #342314;
    }

    &:not(:first-child) {
      margin-left: 5px;

      &::before {
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    &:first-child {
      &::before {
        content: "";
      }
    }

    &:last-child {
      color: #888c91;
      .link {
        text-decoration: none;
        cursor: default;
      }
    }
}

@media screen and (max-width: 767px){
  .list {
    overflow-x: scroll;
  }
}
