@import '../../../scss/vars.scss';
@import '../../../scss/mixins.scss';

.slider {
  position: relative;
  margin-top: -50px;
  margin-bottom: 10px;
  overflow: hidden;

  @include _1024 {
    height: 100%!important;
  }

  & .slide-list {
    height: 100%;
    width: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
}

.slide {
  position: relative;
  height: 100%;

  video {
    @include _767 {
      min-height: 420px;
      object-fit: cover;
    }
  }

  & .slide-image {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: inline-flex;
    object-fit: cover;

    @include _767 {
      display: none;
    }
  }

  &__content {
    position: absolute;
    width: 100%;
    top: 80%;
    left: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translate(-50%, -50%); 
    @extend %libreBaskerville-700;
    z-index: 200;

    @include _767 {
      top: 60%;
      left: -10px;
      transform: translate(0, 0); 

      .contacts-btn {
        display: inline-flex;
      }
    }

    @include _640 {
      left: 0;
      align-items: center;
    }
  }

  & .slide-title {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 48px;
    text-align: center;
    color: #ffffff!important;

    @include _1024 {
      font-size: 32px;
    }

    @include _767 {
      font-size: 28px;
      margin-bottom: 10px;
    }

    @include _320 {
      font-size: 22px;
    }
  }

  & .slide-subtitle {
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
      }
    }
